<footer>
    <div id='back-to-top'>
      <a href="#">Back To Top</a>
    </div>
    <div class="first-footer-links footer-parents">
      <div>
        <h3>Get to Know Us</h3>
        <a href="">Careers</a>
        <a href="">Blog</a>
        <a href="">About Amazon</a>
        <a href="">Sustainability</a>
        <a href="">Investor Relations</a>
        <a href="">Amazon Devices</a>
        <a href="">Amazon Tours</a>
      </div>
      <div>
        <h3>Make Money With Us</h3>
        <a href="">Sell on Amazon</a>
        <a href="">Sell on Amazon Business</a>
        <a href="">Sell Your Apps on Amazon</a>
        <a href="">Become an Affiliate</a>
        <a href="">Advertise Your Products</a>
        <a href="">Self Publish With Us</a>
        <a href="">Host an Amazon Hub</a>
        <a href="">&RightAngleBracket; See make money with us on Amazon</a>
      </div>
  
      <div>
        <h3>Amazon Payment Products</h3>
        <a href="">Amazon Business Card</a>
        <a href="">Shop with Points</a>
        <a href="">Reload Your Balance</a>
        <a href="">Amazon Currency Converter</a>
      </div>
  
      <div>
        <h3>Let Us Help You</h3>
        <a href="">Amazon and COVID-19</a>
        <a href="">Your Account</a>
        <a href="">Your Orders</a>
        <a href="">Shipping Rates & Policies</a>
        <a href="">Returns & Replacements</a>
        <a href="">Manage Your Content and Devices</a>
        <a href="">Amazon Assistant</a>
        <a href="">Help</a>
      </div>
    </div>
  </footer>