{% load static %}
<section class="left-nav-body-whole" id='left_nav_body_whole'>
    <div class="close-left-nav-div" id='close_left_nav'>
      <span>&times;</span>
    </div>
    <div class="left-nav" id='left_nav'>
      <div class="left-nav-user-top">
        <div class="left-nav-avatar-div">
          <img src="{% static 'media/avatar.jpg' %}" class="left-nav-avatar-img" alt="">
        </div>
        <p>Hello Gideon</p>
      </div>
      <div class="category">
        <p style="text-align: center;">Shop By Category</p>
  
        <a href="" class="category-link">
          <div class="category-div">
            <p class="category-text">Amazon Music</p>
            <span class="category-span">&RightAngleBracket;</span>
          </div>
        </a>
        <a href="" class="category-link">
          <div class="category-div">
            <p class="category-text">Kindle E-Readers & Books</p>
            <span class="category-span">&RightAngleBracket;</span>
          </div>
        </a>
        <a href="" class="category-link">
          <div class="category-div">
            <p class="category-text">Appstore for Android
            </p>
            <span class="category-span">&RightAngleBracket;</span>
          </div>
        </a>
        <a href="" class="category-link">
          <div class="category-div">
            <p class="category-text">Electronics</p>
            <span class="category-span">&RightAngleBracket;</span>
          </div>
        </a>
        <a href="" class="category-link">
          <div class="category-div">
            <p class="category-text">Computers</p>
            <span class="category-span">&RightAngleBracket;</span>
          </div>
        </a>
        <a href="" class="category-link">
          <div class="category-div">
            <p class="category-text">Smart Home</p>
            <span class="category-span">&RightAngleBracket;</span>
          </div>
        </a>
        <a href="" class="category-link">
          <div class="category-div">
            <p class="category-text">Arts & Crafts</p>
            <span class="category-span">&RightAngleBracket;</span>
          </div>
        </a>
        <a href="" class="category-link">
          <div class="category-div">
            <p class="category-text">Automotive</p>
            <span class="category-span">&RightAngleBracket;</span>
          </div>
        </a>
        <a href="" class="category-link">
          <div class="category-div">
            <p class="category-text">Baby</p>
            <span class="category-span">&RightAngleBracket;</span>
          </div>
        </a>
        <a href="" class="category-link">
          <div class="category-div">
            <p class="category-text">Baby
            </p>
            <span class="category-span">&RightAngleBracket;</span>
          </div>
        </a>
        <a href="" class="category-link">
          <div class="category-div">
            <p class="category-text">Beauty and personal care</p>
            <span class="category-span">&RightAngleBracket;</span>
          </div>
        </a>
        <a href="" class="category-link">
          <div class="category-div">
            <p class="category-text">Women's Fashion</p>
            <span class="category-span">&RightAngleBracket;</span>
          </div>
        </a>
        <a href="" class="category-link">
          <div class="category-div">
            <p class="category-text">Men's Fashion</p>
            <span class="category-span">&RightAngleBracket;</span>
          </div>
        </a>
        <a href="" class="category-link">
          <div class="category-div">
            <p class="category-text">Girl's Fashion</p>
            <span class="category-span">&RightAngleBracket;</span>
          </div>
        </a>
        <a href="" class="category-link">
          <div class="category-div">
            <p class="category-text">Boy's Fashion</p>
            <span class="category-span">&RightAngleBracket;</span>
          </div>
        </a>
        <a href="" class="category-link">
          <div class="category-div">
            <p class="category-text">Health and Household</p>
            <span class="category-span">&RightAngleBracket;</span>
          </div>
        </a>
        <a href="" class="category-link">
          <div class="category-div">
            <p class="category-text">Industrial and Scientific</p>
            <span class="category-span">&RightAngleBracket;</span>
          </div>
        </a>
        <a href="" class="category-link">
          <div class="category-div">
            <p class="category-text">Luggage</p>
            <span class="category-span">&RightAngleBracket;</span>
          </div>
        </a>
        <a href="" class="category-link">
          <div class="category-div">
            <p class="category-text">Movies & Television</p>
            <span class="category-span">&RightAngleBracket;</span>
          </div>
        </a>
        <a href="" class="category-link">
          <div class="category-div">
            <p class="category-text">Pet supplies</p>
            <span class="category-span">&RightAngleBracket;</span>
          </div>
        </a>
        <a href="" class="category-link">
          <div class="category-div">
            <p class="category-text">Software</p>
            <span class="category-span">&RightAngleBracket;</span>
          </div>
        </a>
        <a href="" class="category-link">
          <div class="category-div">
            <p class="category-text">Sports and Outdoors</p>
            <span class="category-span">&RightAngleBracket;</span>
          </div>
        </a>
        <a href="" class="category-link">
          <div class="category-div">
            <p class="category-text">Tools & Home Improvement</p>
            <span class="category-span">&RightAngleBracket;</span>
          </div>
        </a>
        <a href="" class="category-link">
          <div class="category-div">
            <p class="category-text">Toys and Games</p>
            <span class="category-span">&RightAngleBracket;</span>
          </div>
        </a>
        <a href="" class="category-link">
          <div class="category-div">
            <p class="category-text">Video Games</p>
            <span class="category-span">&RightAngleBracket;</span>
          </div>
        </a>
        <a href="" class="category-link">
          <div class="category-div">
            <p class="category-text">Gift Cards</p>
            <span class="category-span">&RightAngleBracket;</span>
          </div>
        </a>
        <a href="" class="category-link">
          <div class="category-div">
            <p class="category-text">#FoundItOnAmazon</p>
            <span class="category-span">&RightAngleBracket;</span>
          </div>
        </a>
        <a href="" class="category-link">
          <div class="category-div">
            <p class="category-text">Amazon Live</p>
            <span class="category-span">&RightAngleBracket;</span>
          </div>
        </a>
        <a href="" class="category-link">
          <div class="category-div">
            <p class="category-text">International Shopping</p>
            <span class="category-span">&RightAngleBracket;</span>
          </div>
        </a>
        <a href="" class="category-link">
          <div class="category-div">
            <p class="category-text">Amazon Second Chance</p>
            <span class="category-span">&RightAngleBracket;</span>
          </div>
        </a>
        <a href="" class="category-link">
          <div class="category-div">
            <p class="category-text">Full Store Directory</p>
            <span class="category-span">&RightAngleBracket;</span>
          </div>
        </a>
        <hr>
        <div class="help-section">
          <a href="" class="category-link">
            <div class="category-div">
              <p class="category-text">Your Account</p>
              <span class="category-span">&RightAngleBracket;</span>
            </div>
          </a>
  
          <a href="" class="category-link">
            <div class="category-div">
              <p class="category-text">English</p>
              <span class="category-span">&RightAngleBracket;</span>
            </div>
          </a>
  
          <a href="" class="category-link">
            <div class="category-div">
              <p class="category-text">Ghana</p>
              <span class="category-span">&RightAngleBracket;</span>
            </div>
          </a>
  
          <a href="" class="category-link">
            <div class="category-div">
              <p class="category-text">Help</p>
              <span class="category-span">&RightAngleBracket;</span>
            </div>
          </a>
  
          <a href="" class="category-link">
            <div class="category-div">
              <p class="category-text">Sign In</p>
              <span class="category-span">&RightAngleBracket;</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>